{{ define "main" }}
    <div class="pl-sm-2">
        <div class="mb-3">
            {{ if .Params.Title }}
            <h2 class="mb-0">{{ .Title }}</h2>
            {{ end }}
            {{ if .Params.Subtitle }}
            <h5>{{ .Params.Subtitle }}</h5>
            {{ end }}
            <small class="text-muted">Published {{ .Date.Format "January 2, 2006"  }}</small>
        </div>

        <article>
            {{ .Content }}
        </article>

        {{ partial "subscribe.html" . }}

    </div>
{{ end }}
